<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Forget Password</title>	
</head>
<body>
<div style="text-align:center">
<a th:href="@{/admin/login}">Admin Login</a>
<a th:href="@{/employee/login}">Employee Login</a>
</div>
<center>
<h2>Change Password</h2>
<form th:action="@{forgetPassword}"  method ="POST">
		Email Id<input type="text" name="email" ><br/>
		<input type="submit" name="submit" value="submit">
		<div th:if="${error != null}">Email Id doesn't exists</div>
</form>
	</center>
</body>
</html>