<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="textEditor" class="com.metacube.training.TextEditor"
		autowire="autodetect">
		<property name="spellChecker2" ref="spellChecker2" />
	</bean>
	<bean id="spellChecker1" class="com.metacube.training.SpellChecker">
		<constructor-arg type="String" value="Auto WIRE" />
	</bean>
	<bean id="spellChecker2" class="com.metacube.training.SpellChecker">
		<constructor-arg type="String" value="Auto WIRE" />
	</bean>
</beans>