<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>projects</title>
</head>
<body>
	<h2>All jobs</h2>
	<div th:if="${not #lists.isEmpty(jobs)}">
		<table>
			<tr>
				<th>Job Code</th>
				<th>Job Title</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			<tr th:each="job : ${jobs}">
				<td th:text="*{job.jobCode}">Job Code</td>
				<td th:text="*{job.jobTitle}">Job Title</td>
				<td><a th:href="${'editJob?id=' + job.jobCode}"
					class="btn btn-default">Edit</a></td>
				<td><a th:href="${'deleteJob?id=' + job.jobCode}"
					class="btn btn-danger">Delete</a></td>
			</tr>
		</table>
	</div>
</body>
</html>