<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>projects</title>
</head>
<body>
	<h2>All Skills</h2>
	<div th:if="${not #lists.isEmpty(skills)}">
		<table>
			<tr>
				<th>Skill Id</th>
				<th>Skill Name</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			<tr th:each="skill : ${skills}">
				<td th:text="*{skill.skillId}">Skill ID</td>
				<td th:text="*{skill.skillName}">Skill Name</td>
				<td><a th:href="${'editSkills?id=' + skill.skillId}"
					class="btn btn-default">Edit</a></td>
				<td><a th:href="${'deleteSkill?id=' + skill.skillId}"
					class="btn btn-danger">Delete</a></td>
			</tr>
		</table>
	</div>
</body>
</html>