<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Admin Dashboard</title>
</head>
<body>
	<p>Welcome </p>
	<a th:href="@{addEmployee}">Add Employee</a>
	<br>
	<a th:href="@{addProject}">Add project</a>
	<br>
	<a th:href="@{addJob}">Add Job</a>
	<br>
	<a th:href="@{addSkills}">Add Skills</a>
	<br>
	<a th:href="@{allEmployees}">Show Employees</a>
	<br>
	<a th:href="@{allProjects}">Show Projects</a>
	<br>
	<a th:href="@{allSkills}">Show Skills Master</a>
	<br>
	<a th:href="@{allJobs}">Show JObs Master</a>
	<br>
	<a th:href="@{search}">Search Employee</a>
	<br>
	<a th:href="@{addEmployee}">Logout</a>
	
</body>
</html>