<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<title>projects</title>
	</head>
	<body>
		<div style="text-align:center">
			<a th:href="@{dashboard}">Home </a>
			<a th:href="@{addEmployee}">Add Employee </a>
			<a th:href="@{addProject}">Add project</a>
			<a th:href="@{addJob}">Add Job </a>
			<a th:href="@{addSkills}">Add Skills </a>
			<a th:href="@{addJobDetails}">Add JobDetails </a>
			<a th:href="@{allEmployees}">Show Employees </a>
			<a th:href="@{allProjects}">Show Projects </a>
			<a th:href="@{allSkills}">Show Skills Master </a>
			<a th:href="@{allJobs}">Show JObs Master </a>
			<a th:href="@{search}">Search Employee </a>
			<a th:href="@{searchBySkills}">Search By Skills</a>
			<a th:href="@{searchByProject}">Search By Project</a>
		</div>	
		<form th:action="@{/Logout}" method="post">
			<input type="submit" name="submit" value="Logout" />
		</form>
		<div th:if="${not #lists.isEmpty(projects)}">
			<h2>All projects</h2>
			<table>
				<tr>
					<th>Id</th>
					<th>Description</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr th:each="project : ${projects}">
					<td th:text="*{project.projectId}">Id</td>
					<td th:text="*{project.description}">Description</td>
					<td th:text="*{project.startDate}">Start Date</td>
					<td th:text="*{project.endDate}">End Date</td>
					<td><a th:href="${'editProject?id=' + project.projectId}"
						class="btn btn-default">Edit</a></td>
					<td><a th:href="${'deleteProject?id=' + project.projectId}"
						class="btn btn-danger">Delete</a></td>
				</tr>
			</table>
		</div>
	</body>
</html>